.dashboardBeneficiaryMeuCadastro{

}
.dashboardBeneficiaryMeuCadastro .beneficiaryMeuCadastroTabs .beneficiaryMeuCadastroTabs-ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    color: var(--primary);
}
.dashboardBeneficiaryMeuCadastro .beneficiaryMeuCadastroTabs .beneficiaryMeuCadastroTabs-li{
    box-sizing: border-box;
    flex: 1;
    width: 25%;
    padding: 0 10px;
    text-align: center;
}
.dashboardBeneficiaryMeuCadastro .beneficiaryMeuCadastroTabs .beneficiaryMeuCadastroTabs-li label {
    transition: all 0.3s ease-in-out;
    color: var(--gray);
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dashboardBeneficiaryMeuCadastro .beneficiaryMeuCadastroTabs .beneficiaryMeuCadastroTabs-li i{
    fill: var(--gray);
    height: 1.2em;
    vertical-align: bottom;
    margin-right: 0.2em;
    transition: all 0.2s ease-in-out;
}
/* SLIDER - SETINHA ABAIXO */
.dashboardBeneficiaryMeuCadastro .beneficiaryMeuCadastroTabs .slider {
    position: relative;
    /* width: 25%; */
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.dashboardBeneficiaryMeuCadastro .beneficiaryMeuCadastroTabs .slider .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: var(--primary);
    border-radius: 1px;
}


@-webkit-keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}